annotated-types==0.6.0
anyio==4.3.0
certifi==2024.2.2
charset-normalizer==3.3.2
distro==1.9.0
editdistance==0.8.1
exceptiongroup==1.2.0
filelock==3.13.1
fsspec==2024.2.0
h11==0.14.0
httpcore==1.0.4
httpx==0.27.0
huggingface-hub==0.20.3
idna==3.6
Jinja2==3.1.3
Levenshtein==0.25.0
MarkupSafe==2.1.5
mpmath==1.3.0
networkx==3.2.1
numpy==1.26.4
openai==1.12.0
packaging==23.2
pydantic==2.6.2
pydantic_core==2.16.3
PyYAML==6.0.1
rapidfuzz==3.6.1
regex==2023.12.25
requests==2.31.0
safetensors==0.4.2
sniffio==1.3.1
sympy==1.12
tiktoken==0.6.0
tokenizers==0.15.2
torch==2.2.1
tqdm==4.66.2
transformers==4.38.1
tree-sitter==0.20.4
typing_extensions==4.10.0
urllib3==2.2.1
